POSTGRES_DB=customs_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
NEXT_PUBLIC_API_BASE=http://localhost:8000/api
NEXT_PUBLIC_RUBIKA_LINK=https://web.rubika.ir/#c=u0EMGX40d907d7d7b1eba1b9fb622964
NEXT_PUBLIC_BALE_USERNAME=4liaghaie
MEDIA_HOST_PATH=/var/www/gmp-media
